body,ul,li{
    margin:0;
    padding:0;
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style:none;
}
.box{
    margin:100px auto;
    width:1845px;
    border:2px solid #dfdfdf;
    border-radius: 5px;
    padding:27px 0 24px 0;
}
.choice{
    color:#fff;
    background: #1fcab1;
    padding:4px 26px;
    border-radius: 27px;
}
.menu_sort{
    width:16%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 26px 0 41px;
}
.menu_sort>span{
    font-size:26px;
    text-align:left;
}
.top_menu{
    display: flex;
    justify-content: flex-start;
}
.top_list{
    width:84%;
    display: flex;
    flex-wrap:wrap;
    font-size:26px;
    border-bottom:2px solid #dfdfdf;
}
.bottom_list{
    border:none;
}
.top_list>li{
    width:15%;
    padding-bottom:15px ;

}
.top_list>li>a{
    color:#535353;
}
select{
    border:none;
    outline: none;
    font-size: 26px;
    color:#535353;
    -webkit-appearance: none;
    padding-right:18px;
    background: url("../img/3.png") no-repeat center right;
}
.middle_menu,.bottom_menu{
    display: flex;
    margin-top:20px;
}